.evnets-page__container {
  padding: 2rem 0;
  background-color: #f5f6f7;

  display: flex;
  flex-direction: column;

  .events__navigation {
    width: 80%;
    padding: 12px;
    margin: 5px auto;

    color: white;
    border-radius: 5px;
    background-image: linear-gradient(#1877f2, #77a7ff);

    .name-header {
      position: relative;
      left: 17px;
    }

    .location-header {
      position: relative;
      right: 10px;
    }

    h5 {
      margin-bottom: 0;
    }
  }

  .events__container {
    width: 80%;
    min-height: 80vh;
    margin: 5px auto;

    .event-item {
      margin: 5px 0;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid rgba(168, 168, 168, 0.317);
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.551), #ebf2fd);
    }
  }

  .pagination__container {
    width: 80%;
    margin: 1rem auto 0px;

    display: flex;
    justify-content: center;
  }

  .events-spinner {
    top: 40vh;
    left: 40vw;
    position: relative;
    transform: translate(-50% -50%);
  }
}
